{{ define "main" }}
<article class="page-single">
    {{ if .Title }}
    <header class="page-header">
        <h1 class="page-title">{{ .Title }}</h1>
    </header>
    {{ end }}

    {{ if templates.Exists "partials/microhook-before-page-content.html" }}
    {{ partial "microhook-before-page-content.html" . }}
    {{ end }}

    <div class="post-content">
        {{ .Content }}
    </div>

    {{ if templates.Exists "partials/microhook-after-page-content.html" }}
    {{ partial "microhook-after-page-content.html" . }}
    {{ end }}

</article>
{{ end }}